@use "../utils/mixins" as *;
@use "../utils/variables" as *;

* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  background-color: #7c8afc;
  padding-top: 20px;
}

main {
  display: flex;
  // position: relative;
  flex-direction: column;
  background-color: #090c35;
  color: white;
  max-width: 500px;
  max-height: fit-content;
  padding: 25px;
  border-radius: 10px;
}

.status {
  border: 3px solid #7c8afc;
  border-radius: 25px;
  padding: 25px;
  &__content {
    display: flex;
    justify-content: space-around;
  }
  &__counter {
    background-color: #7c8afc;
    border-radius: 45px;
    border: #7c8afc solid 30px;
    font-size: 1.5rem;
  }
}

.addTask {
  margin-top: 15px;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  &__input {
    flex: 1;
    border-radius: 5px;
    padding: 10px;
  }
  &__button {
    background-color: #7c8afc;
    color: white;
    border-radius: 45px;
    width: 2.5rem;
    margin-left: 0.7rem;
    cursor: pointer;
  }
}

.clearAll__button {
  background-color: red;
  color: white;
  border-radius: 45px;
  width: 2.5rem;
  margin-left: 0.7rem;
  cursor: pointer;
}

.tasklist {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  gap: 10px;
  &__task {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__all {
    position: relative;
    display: flex;
    justify-content: center;

    border: solid 5px black;
    align-items: start;
    background-color: #2e345c;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;

    p {
      word-wrap: break-word;
      max-width: 100%;
      margin-left: 0.7rem;
    }
  }
  &__delete {
    color: red;
    cursor: pointer;
  }
  &__edit {
    right: 5px;
    color: #7c8afc;
    cursor: pointer;
  }
  &__checkbox {
    cursor: pointer;
  }
}
