@use "../utils/mixins" as *;
@use "../utils/variables" as *;

footer{
    @include flex-center;
    background-color:$primary;
    color: $accentsecondary;
    transition: transform 0.3s ease-in-out;
    display: flex;
    font-size: $footersize;
}