@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.header{
    background: $primary;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 1000;
    transition: ease-in-out 0.3s;
    ul{
        justify-content: flex-end;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
    }
    li{
        list-style: none;
        cursor: pointer;
    }

    a{
        color: $accentsecondary;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    a:hover{
        color: $accent3rd;
    }

    a:focus{
        outline: 3px solid $accent3rd;
    }
    .hamburgerMenu{
        display: none;
        flex-direction: column;
        cursor: pointer;
        padding: 5px;
        border: 2px solid black;
        span{
            background-color: black;
            width: 30px;
            height: 4px;
            margin: 3px 0;
            transition: 0.3s;
        }
    }
}


@media(max-width:768px){
    .nav{
        display: flex;

       .nav__list{
            display: none;
        }
        .show{
            display: flex;
        }
        .hamburgerMenu{
            display: flex;
            margin-right: 20px;
        }
    }
}